{% extends 'header.html' %}
{% block content %}
{% load static %}
        <div class="container-fluid">
          <!-- Sales Cards  -->
          <div class="row">
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-cyan text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-view-dashboard"></i>
                  </h1>
                  <h6 class="text-white">Dashboard</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-success text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-book"></i>
                  </h1>
                  <a href="/Hadmin/booking/"> <h6 class="text-white">BOOKING</h6></a>
                </div>
              </div>
            </div>
             <div class="col-md-6 col-lg-4 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-success text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-heart-box"></i>
                  </h1>
                  <a href="/Hadmin/wishlists/"> <h6 class="text-white">WISHLIST</h6></a>
                </div>
              </div>
            </div>
            <!-- Column -->

            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-table"></i>
                  </h1>
                 <a href="/Hadmin/table/"><h6 class="text-white">USER-TABLES</h6></a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-account-circle"></i>
                  </h1>
                  <a href="/Hadmin/create_user/"><h6 class="text-white">USERS</h6></a>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-account-switch"></i>
                  </h1>
                 <a href="/Hadmin/details/"><h6 class="text-white">USER_DETAIL</h6></a>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-animation"></i>
                  </h1>
                  <a href="/Hadmin/gallary/"> <h6 class="text-white">GALLARY</h6></a>
                </div>
              </div>
            </div>
            <!-- Column -->

            <!-- Column -->
          </div>
             <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Tables</h4>
            </div>
          </div>
        </div><br/>
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- Container fluid  -->
        <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Static Table</h5>
                </div>
                <table class="table">
                  <thead>
                  <tr>
                      <th scope="col">Username</th>
                      <th scope="col">Email</th>
                      <th scope="col">Password</th>
                      <th scope="col">Confirm PWD</th>
                      <th scope="col">Address</th>
                      <th scope="col">Contact</th>

                    </tr>

                  </thead>
                  <tbody>
                   {% for val in a %}
                     <tr>
                      <td>{{val.unm}}</td>
                      <td>{{val.email}}</td>
                      <td>{{val.pwd}}</td>
                      <td>{{val.cpwd}}</td>
                      <td>{{val.add}}</td>
                      <td>{{val.contact}}</td>
                     </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>

        </div>
          </div>
        </div>

        </div>

        <!-- footer -->
        {% endblock %}