
          <!-- row -->
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Browesr statistics</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Browser</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Chrome</td>
                      <td>8850</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Website statistics</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Site</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="#" class="link">Themeforest.com</a></td>
                      <td>1240</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Visited Pages</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Page</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="#" class="link">Freebies</a></td>
                      <td>1240</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

