{% extends 'header2.html' %}
{% block content %}
{% load static %}
<div class="col-lg-8">
    <div class="checkout-form form-style">
        <h3>Order Details</h3>
        <form action="/2/order/" method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6 col-12">
                    <input type="hidden" name='user' value={{request.session.id}} >
                </div>
                <div class="col-12">
                    <input type="hidden" name='billing' value={{id}}>
                </div>
                <div class="col-12">
                    {% for i in ord %}
                        {{i.orderdate}}
                    {% endfor %}
                </div>
                <div class="col-sm-6 col-12">
                    <p>Ordered *</p>
                    <input type="checkbox" name='ordered'>
                </div>
                <input type="submit" value='Submit'>
            </div>
        </form>
    </div>
</div>
{% endblock content %}