{% extends 'header2.html' %}
{% block content %}
{% load static %}

<!-- ================ Inner banner ================ -->
<div class="inner-banner inner-banner-bg pt-70 pb-40">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-8 mb-30"> 
        <!-- page-title -->
        <div class="page-title">
          <h1>About Us</h1>
        </div>
        <!-- page-title end --> 
      </div>
      <div class="col-lg-4 col-md-4 mb-30"> 
        <!-- breadcrumb -->
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/view/">Home</a></li>
          <li class="breadcrumb-item active">About Us</li>
        </ol>
        <!-- breadcrumb end --> 
      </div>
    </div>
  </div>
</div>
<!-- ================ Inner banner end ================ -->
<div class="container  dark"><div class="section_clear">
	<div class="vc_col-sm-4 wpb_column column_container with_padding " style="padding:" data-animation="none" data-delay=""><br>
		<div class="wpb_wrapper">
			<h2 style="text-align: left" class="vc_custom_heading">Save up to 60% on Last Minute Hotels</h2><div class="vc_empty_space" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Book with Hotwire to find hotel deals that fit your unique travel style.
                If your jam-packed schedule has you begging for a relaxation retreat, Hotwire can help. Kick back, unwind, and
                dine finely at a 5-star luxury hotel with all the bells and whistles. If you are feeling tense,
                opt for a top-rated all-inclusive spa resort in the mountains—or better—on an exotic island.
                Whether on business or personal expedition, the show-stopping amenities at
                your hotel are sure to keep your vacay stress-free.</p>

		</div>
	</div>
		</div>
	</div>

	<div class="vc_col-sm-8 wpb_column column_container with_padding " style="padding:" data-animation="none" data-delay="">
		<div class="wpb_wrapper">
			<h2 style="text-align: left" class="vc_custom_heading">Why Choose Us</h2><div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="wpb_content_element list only_icon" style=""><ul data-icon="steadysets-icon-checkmark">
				<li class="titledesc"><dl class="dl-horizontal"><dt><span class="circle"><i class="steadysets-icon-checkmark"></i></span></dt><dd><h6>Certified Premier Google Partner</h6><p>Trust the best. Our teams have been certified as premier online professionals, marketers, and specialists that have been trained by Google.</p></dd></dl></li><li class="titledesc"><dl class="dl-horizontal"><dt><span class="circle"><i class="steadysets-icon-checkmark"></i></span></dt><dd><h6>We Win Awards</h6><p>Always acting as an extension of our client's marketing and sales teams, our creative and strategic initiatives have won us several industry awards.</p></dd></dl></li></ul></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="wpb_content_element list only_icon" style=""><ul data-icon="steadysets-icon-checkmark">
				<li class="titledesc"><dl class="dl-horizontal"><dt><span class="circle"><i class="steadysets-icon-checkmark"></i></span></dt><dd><h6>Digital Marketing Certifications</h6><p>From Google to Facebook, Hubspot to Adobe - we're certified brand strategists and hospitality marketing leaders.</p></dd></dl></li><li class="titledesc"><dl class="dl-horizontal"><dt><span class="circle"><i class="steadysets-icon-checkmark"></i></span></dt><dd><h6>Hospitality Experience</h6><p>With more than a decade of experience working with luxury resorts and boutique hotels, our teams know hospitality. Many of our team members have come to Screen Pilot from hotels, resorts, and restaurants.</p></dd></dl></li></ul></div></div></div></div></div>
		</div>
	</div>
</div></div>


{% endblock %}